{% extends 'FMInvoice/layouts/default.html' %} {% block content %}
<!-- Page Content -->
{% load static %}
{% load crispy_forms_tags %}
<!-- page content  -->
      <div id="app-content">

        <!-- Container fluid -->
        <div class="app-content-area">
          <div class="container-fluid">
              <div class="row mb-8  d-flex justify-content-center">  
                <div class="col-xl-10 col-lg-10 col-md-8 col-10">
                 {% if messages %}
                    {% for message in messages %} 
                      <div class="alert alert-primary alert-dismissible fade show" role="alert">
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                        <strong>Information!</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                    {% endfor %}
                  {% endif %}
                  <!-- card -->
                  <div class="card">
                    <!-- card body -->
                    <div class="card-body">
                      <div class=" mb-6">
                        <h4 class="mb-6"> Changer le mot de passe de votre compte utilisateur </h4>
                        
                        <form action="" method="post">
                         {% csrf_token %}
                          <div class="mb-3 mt-6 row">
                            <label for="fullName" class="col-sm-4 col-form-label
                                form-label"> Mot de passe </label>
                            <div class="col-sm-8">
                                {{ form |crispy}}
                            </div>
                          
                          </div>



                            <div class="offset-md-4 col-md-8 mt-8">
                              <button type="submit" class="btn btn-primary"> Modifier </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
                </div>
              </div>
            </div>
      </div>
{% endblock %}