
<div id="app">
    <div class="app">
        <div class="app">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h3 class="mb-0">Détails de l'Émetteur</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Informations Générales</h5>
                                    <p><strong>Nom Société:</strong> {{ emetteur.nom_societe }}</p>
                                    <p><strong>Type Société:</strong> {{ emetteur.type_societe }}</p>
                                    <p><strong>Adresse:</strong> {{ emetteur.adresse }}</p>
                                    <p><strong>Téléphone:</strong> {{ emetteur.telephone }}</p>
                                    <p><strong>Email:</strong> {{ emetteur.email }}</p>
                                    <p><strong>Station:</strong> {{ emetteur.station }}</p>
                                </div>
                                <div class="col-md-6">
                                    <h5>Informations Fiscales</h5>
                                    <p><strong>NIF:</strong> {{ emetteur.nif }}</p>
                                    <p><strong>Registre de Commerce:</strong> {{ emetteur.registre_commerce }}</p>
                                    <p><strong>Assujetti à la TVA:</strong> {{ emetteur.assujetti_tva|yesno:"Oui,Non" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
