{% extends 'FMInvoice/layouts/default.html' %}
{% block content %}
{% load static %}

<style>
.box {
  background-image: url({% static 'assets/images/error/background-spot.svg' %});
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:680px;
}
</style>

<div id="app-content">
  <div class="app-content-area box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="d-flex justify-content-between align-items-center mb-5">
            <h3 class="mb-0">Accueil</h3>
          </div>
        </div>
      </div>
      <div class="bg-primary rounded-3">
        <div class="row mb-5">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="p-6 d-lg-flex justify-content-between align-items-center">
              <div class="d-md-flex align-items-center">
                <div class="ms-md-4 mt-3 mt-md-0 lh-1">
                  <h3 class="text-white mb-0">🙌 Salut cher {{ request.user }}</h3>
                  <small class="text-white">Voici un aperçu des activités de notre plateforme :</small>
                </div>
              </div>
              <div class="d-none d-lg-block">
                <a href="" class="btn btn-white">Facturer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-md-12 col-12 mb-5">
          <div class="row row-cols-lg-2 row-cols-1 g-5">
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-semi-bold">Stations Radio [TOT]</span>
                    <span><i data-feather="radio" class="nav-icon me-2 text-gray-400"></i></span>
                  </div>
                  <div class="mt-4">
                    <h3 class="fw-bold mb-0">{{ total_stations }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-semi-bold">Clients [TOT]</span>
                    <span><i data-feather="users" class="nav-icon me-2 text-gray-400"></i></span>
                  </div>
                  <div class="mt-4">
                    <h3 class="fw-bold mb-0">{{ total_clients }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-semi-bold">Factures [TOT]</span>
                    <span><i data-feather="file-text" class="nav-icon me-2 text-gray-400"></i></span>
                  </div>
                  <div class="mt-4">
                    <h3 class="fw-bold mb-0">{{ total_factures }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-semi-bold">Émissions [TOT]</span>
                    <span><i data-feather="airplay" class="nav-icon me-2 text-gray-400"></i></span>
                  </div>
                  <div class="mt-4">
                    <h3 class="fw-bold mb-0">{{ total_emissions }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid gap-6 mb-8 md:grid-cols-12 card h-100 card-lift rounded-3">
        <div class="card-body">
          <h4 class="mb-4 fw-semi-bold text-gray">Mots de remerciement</h4>
          <p class="text-gray">
            Cher {{ request.user }}, 🙏 Merci d'avoir visité notre page de tableau de bord. Nous sommes ravis de vous accueillir à nouveau et espérons que vous trouverez tout ce dont vous avez besoin pour gérer efficacement vos activités. Bienvenue à nouveau 🙌!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}